<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycoding.springframework.dao.UserMapper">
    <sql id="USER_COLUMNS">
        `name`,age,sex,created_time,modified_time
    </sql>

    <insert id="insertUser" parameterType="com.mycoding.springframework.model.User">
        INSERT INTO user_test (<include refid="USER_COLUMNS"/>) VALUES (#{name},#{age},#{sex},now(),now())
    </insert>

    <select id="selectUserById" resultType="com.mycoding.springframework.model.User">
        SELECT <include refid="USER_COLUMNS"/> FROM user_test WHERE id=#{id}
    </select>

    <update id="updateUserById">
        UPDATE user_test SET `name`=#{name},age=#{age},sex=#{sex},modified_time=now() WHERE id=#{id}
    </update>

    <delete id="deleteUserById">
        DELETE FROM user_test WHERE id=#{id}
    </delete>

    <select id="queryUserAll" resultType="com.mycoding.springframework.model.User">
        SELECT * FROM  user_test
    </select>
</mapper>